.App {
    text-align: center;
  }
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-row {
  display: flex;
  justify-content: center;
  max-width: 18vw;
  width: 18vw;
  /*margin-right: 5vw;*/
}

.sidebar-title{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
  height: 13vh;
  font: 25px "Century Gothic", Futura, sans-serif;
  background-color: rgb(169, 161, 255, 0.5);
  white-space: pre-line;
}

.sidebar-message-log{
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  min-height: 78vh;
}

.sidebar-message-0{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-wrap: break-word;
  width: calc(100%);
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  box-sizing: border-box;
  font: 18px "Century Gothic", Futura, sans-serif;
  background-color: rgb(155, 187, 255, 0.5);
  border-top:1px solid rgb(0, 0, 0, 0.7);
  border-bottom:1px solid rgb(0, 0, 0, 0.7);
  padding-left: 0.5%;
} 

.sidebar-message-1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-wrap: break-word;
  width: calc(100%);
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  box-sizing: border-box;
  font: 18px "Century Gothic", Futura, sans-serif;
  background-color: rgb(101, 150, 255, 0.5);
  border-top:1px solid rgb(0, 0, 0, 0.7);
  border-bottom:1px solid rgb(0, 0, 0, 0.7);
  padding-left: 0.5%;
} 

.sidebar-text{
  width: 8.3vw;
  font: 17px "Century Gothic", Futura, sans-serif;
}

.sidebar-button{
  width: 8vw;
  font: 17px "Century Gothic", Futura, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  align-items: center;
  position: absolute;
  background-color: rgb(197, 215, 255, 0.5);
  padding-bottom: 1vh;
}

.message-name{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-wrap: break-word;
  width: calc(100% - 0.5%);
  box-sizing: border-box;
  font: 18px "Century Gothic", Futura, sans-serif;
  color: rgb(207, 17, 224);
  padding-left: 0.5%;
  text-decoration-line: underline;
  text-decoration-color: rgb(207, 17, 224);
}

.message-message{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-wrap: break-word;
  width: calc(100% - 2%);
  box-sizing: border-box;
  font: 18px "Century Gothic", Futura, sans-serif;
  padding-left: 2%;
  white-space: pre-line;
}

.message-flex{
  display: flex;
  flex-direction: column;
}


